@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

html, body, div { 
    margin: 0; 
    padding: 0; 
    border: 0 none; 
}

body {
    background-color: #0D160B;
    font-family: "Radio Canada Big", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 800px;
    color: white;
    flex-grow: 1;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 18px;
    flex-grow: 0;
}

#buttons i {
    color: #FFC49B;
}

button {
    background-color: #624974;
    color: white;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    border-radius: 20px;
    width: 10em;
}

button:hover {
    background-color: #4A3758;
    transition: 0.4s;
}

#result {
    font-size: 2em;
    flex-grow: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#scoreSlots {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.scoreSlot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 5em;
}

.scoreValue {
    font-size: 2em;
}

#gameResult {
    font-size: 1.3em;
}